
.grid{
    background-color: #cecece;
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 600px 100px  ;
    grid-template-rows: 200px 200px  ;
    gap: 20px;

}
.grid__1{
    width:100% ;
    background-color: black;
    color: aliceblue;
    padding: 5px;

}
.grid__2{
    grid-row: 1;
    grid-column: 1;
    background-color: blue;
    color: aliceblue;
    padding: 5px;


}
.grid__3{
    background-color: brown;
    padding: 5px;
    color: aliceblue;

}

.grid__4{
    background-color: green;
    color: aliceblue;
    padding: 5px;

}

.grid__5{
    background-color:greenyellow;
    padding: 5px;

}