*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-prinicipal{
    background-color: #14279B;
    text-align: center;
    color: #fff;
    width: 50%;
    margin: 5% auto;
    padding:1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.container__principal-formulario{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.formulario__titulo{
    margin:20px auto;

}
.saida{
    border-radius: 10px;
    padding: 1em;
    margin: 5px 0 5px 5px;
}
.texto-area{
    margin: 5px;
    border-radius: 10px;
}
.cadastrar{
    padding: 1em;
    width: 25%;
    border-radius: 10px;
    align-self: center;
}

.cadastrar:hover{
    transition: 0.5s;
    background-color: #068602;
    color: #fff;
}

.saida:focus{
    border-color: #14279B;
}