body {
    text-align: center;
    background: linear-gradient(180deg, #154580 0%, #041833 100%);
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
  }
  
.container{
    border-radius: 10px;
    background: #C4C4C433;
    padding: 1rem;
  }
.grid-item{
    background-color: #041833;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.grid-container{
    display:grid;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item3"
    "item5 item5 item6";
    grid-template-columns: repeat( 3 1fr);
}

.item{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3 {
    background: #84EEC1;
    font-weight: 700;
    color: #041833;
    grid-area:item3;
}  

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
    background: #84EEC1;
    color: #041833;
    font-weight: 700;
}