hr{
    padding: 0;
}

.rodape{
    background-color: var(--cor-branco);
    color: var(--cor-azul-degrader);
    font-weight: 700;
    padding: 3%;
}

.rodape__titulo{
    color: var(--cor-cinza-claro);
    font-size: 14px;
    
}


@media screen and (min-width: 1728px){

    .lista-rodape{
        border-left: 1px solid #505050;
        padding-left: 1em;
    }
    
}