@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(---cor-black);
    }
    .container{
        width: auto;
    }
    .container__texto{
        display: block;
    }
    .cabecalho{
        padding: 0 2em;
    }

    .opções{
        margin-right: auto;
    }
}