@import url("header.css");
@import url("./banner.css");
@import url("./carrossel.css");
@import url("./topicos.css");
@import url("./contato.css");
@import url("./footer.css");
@import url("./mediaQuery.css");


:root{
    --cor-fundo: #EBECEE;
    --cor-branco: #ffffff;
    --cor-laranja: #EB9B00;
    --cor-azul-degrader: #002f52f3 ;
    --cor-azul:#002F52;
    

    /*fontes*/
    --font-principal:"poppins" ;
    --font-secundaria:" Verdana, Geneva, Tahoma, sans-serif";
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;

}
