*{
    padding: 0px;
    margin: 0px;
}

.cabecalho__container{
    display: flex;
    background-color: aqua;
    margin: auto;
    justify-content: space-between;
    padding: 2em;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: black;
    color: #fff;

}

.pesquisar__input{
    display: none;
}
@media screen and (min-width: 834px) {
    .pesquisar__input{
        display: block;
    }
}