:root{
    /*cores*/
    --cor-vermelho-principal: #fd1105;
    --cor-vermelho-secundario: #a40902;
    --cor-vermelho-terceario: #d10d04;
    --cor-branco-princiapl: #fff;
    --cor-preco: #7a7a7a;
    /*Fonte*/
    --fonte-principal: "Nova mono",-apple-system,Roboto,Arial,sans-serif,sans-serif;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--fonte-principal);
}

.cabeçalho-menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    margin: 20px;
}