.secao{
    display: grid;
    align-items: center;
}
.secao-orizontal {

    grid-template-rows: auto;
}
.secao-vertical {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2fr;
}

.secao-vertical secao__cartoes{
    grid-column: 1/3;
}

